{% extends 'portfolio/portfolio_base.html' %}

{% block content %}
<h2 class="text-center my-4 about-heading">Contact Me</h2>

<div class="contact-section container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="contact-item">
                <i class="fas fa-phone-alt contact-icon"></i>
                <span class="contact-text">+358 41 724 7224</span>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope contact-icon"></i>
                <span class="contact-text">yuanyuan.lu.2022@foxmail.com</span>
            </div>
            <div class="contact-item">
                <i class="fab fa-linkedin contact-icon"></i>
                <a href="https://www.linkedin.com/in/yuan-yuan-lu/" target="_blank" class="contact-text">LinkedIn</a>
            </div>
            <div class="contact-item">
                <i class="fab fa-github contact-icon"></i>
                <a href="https://github.com/monodara" target="_blank" class="contact-text">GitHub</a>
            </div>
            <div class="contact-item">
                <i class="fab fa-medium contact-icon"></i>
                <a href="https://medium.com/@monodara.lu" target="_blank" class="contact-text">Medium</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}