

h1 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

h2,
/* h3, */
h4 {
    font-family: sans-serif;
    color: #ffffff;
}

.preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* limit to 2 rows */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.date {
    color: #cccccc;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #2aaf75;
    text-decoration: none;
}

.post h3 {
    color: #aaaaaa;
    font-size: 16pt;
}

.post>.date,
.post>.actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #2aaf75;
    background: none;
    border-color: #2aaf75;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #2aaf75;
}

pre {
    background: #2d2d2d;
    border: 1px solid #ddd;
    border-left: 3px solid #2aaf75; /* Use theme color for accent */
    color: #cccccc;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}